/* 
* Project Name: COMP125-M2020-Assignment 4
* Author Name: Aakriti Gupta
* Student ID: 301103413
* Website Name: Slot Machine
* File Description: Custom css lives here
*/

body
{
    background-color: lightgray;
}

#canvas
{
    margin-left: 10px;
    background-color: white;
    border: 1px dotted black;
}